* {
  box-sizing: border-box
}

ul {
  list-style: none
}

img {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px
}

body {
  margin: 0;
  font-family: Arial,"Nunito",Helvetica,Arial,sans-serif
}

.header {
  margin: 0 auto;
  overflow: hidden;
  background-image: linear-gradient(to left,#75b6bd,#2f939e);
  padding: 10px
}

.header img {
  width: 50px
}

.header a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px
}

.header a.logo {
  font-size: 25px;
  font-weight: 700
}

.header a:hover {
  transition: .5s;
  background-color: #fff;
  color: #2f939e
}

.header a.active {
  background-color: #1e90ff;
  color: #fff
}

.header-right {
  float: right
}

@media screen and (max-width:500px) {
  .header a {
      display: block;
      text-align: left
  }

  .header a,.header-right {
      float: none
  }
}

.sobre {
  text-align: right;
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap
}

@media only screen and (max-width:600px) {
  .sobre {
      text-align: center;
      padding: 0
  }
}

.fotos img,.sobre img {
  display: block;
  max-width: 100%
}

.sobre h1:hover {
  transition: .5s;
  color: #2f939e
}

.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px
}

.sobre-info h1 {
  font-size: 2.5em;
  margin-bottom: .5em
}

.sobre-info p {
  font-size: 1.15em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c
}

.sobre-img {
  flex: 1 1 160px;
  margin: 50px 10px 0
}

.fotos {
  margin: auto auto 2%;
  max-width: 1280px;
  max-height: 720px;
  padding-left: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px
}

.fotos h1 {
  font-size: 3em;
  margin: 0 10px 60px
}

.fotos-secao {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end
}

.photo-title {
  background-image: linear-gradient(to left,#75b6bd,#2f939e);
  color: #fff;
  max-width: 100%;
  height: 120px;
  padding: 25px;
  margin-bottom: 15px
}

.page-title {
  text-align: center;
  color: #2f939e;
  font-size: 20px
}

.wrapper {
  overflow: hidden;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px
}

.gallery {
  overflow: scroll;
  scroll-snap-type: x mandatory
}

.gallery__img {
  scroll-snap-align: start;
  margin-bottom: 10px;
  min-height: 100vh;
  object-fit: cover
}

.lil-nav {
  overflow-y: scroll;
  overflow-x: hidden
}

.lil-nav__img {
  object-fit: cover;
  max-height: 100%;
  margin: 10px
}

@media only screen and (max-width:600px) {
  .fotos {
      margin-bottom: 25%;
      padding-left: 0
  }

  .gallery__img {
      scroll-snap-align: start;
      margin-bottom: 10px;
      min-height: 20vh;
      object-fit: cover
  }

  .sobre-img iframe {
      width: auto;
      height: auto
  }
}

.container-doacao {
  text-align: center;
  margin: 5% auto auto 0;
  max-width: 1280px;
  max-height: 720px;
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px
}

.info-doacao {
  border-right: 3px #2f939e solid;
  flex: 1 1 160px;
  margin: 5% auto
}

.info-doacao img {
  width: 100px
}

.imagens-doacao {
  margin-left: 30%;
  display: grid;
  grid-template-columns: auto auto auto
}

.info-doacao h1 {
  font-size: 50px;
  color: #2f939e;
  margin: 20px
}

.info-doacao h3 {
  color: gray;
  margin: 20px
}

.info-conta {
  color: gray;
  margin: 7% auto auto 5%
}

.conta-bancaria,.container-doacao-fotos {
  text-align: center;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px
}

.conta-bancaria {
  margin-left: 25%;
  padding: 15px;
  width: 260px;
  height: 160px;
  font-size: 14px;
  background: #e42121
}

.conta-bancaria:hover {
  cursor: pointer
}

.conta-bancaria ul {
  padding: 0;
  color: #fffefe;
  font-family: Verdana,Geneva,Tahoma,sans-serif
}

.conta-bancaria h1 {
  color: #fffefe;
  margin-bottom: 5px
}

.container-doacao-fotos {
  margin: 5% auto;
  max-width: 1280px;
  height: auto;
  display: flex;
  flex-wrap: wrap
}

.container-doacao-fotos img {
  width: 540px;
  height: auto
}

.container-doacao-fotos h1 {
  font-size: 50px
}

.container-doacao-fotos h1:hover {
  transition: .5s;
  background-color: #fff;
  color: #2f939e
}

.container-doacao-fotos p {
  font-size: 20px
}

.doacao-direita,.doacao-esquerda {
  flex: 1 1 160px;
  margin: 5% auto
}

@media only screen and (max-width:600px) {
  .imagens-doacao {
      margin-left: 10%;
      display: grid;
      grid-template-columns: auto auto auto
  }

  .conta-bancaria {
      margin-left: 5%;
      text-align: center;
      padding: 10px;
      width: 250px;
      height: 150px;
      font-size: 14px;
      background: #e42121;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px
  }

  .container-doacao-fotos img {
      margin-top: 15%;
      width: 340px;
      height: auto
  }
}

.contato {
  margin: 2% auto;
  padding-left: 50%;
  color: #fff;
  background-image: linear-gradient(to left,#75b6bd,#2f939e);
  max-height: 720px;
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap
}

@media only screen and (max-width:600px) {
  .contato {
      margin: 5% auto;
      color: #fff;
      background-image: linear-gradient(to left,#75b6bd,#2f939e);
      max-width: 1280px;
      max-height: 1280px;
      padding-left: 5%;
      display: flex;
      flex-wrap: wrap
  }
}

.info-contato {
  flex: 1 1 160px;
  margin: 5% auto;
  margin-left: 10%
}

.envio-contato {
  flex: 2 1 300px;
  margin: 5% auto
}

.envio-contato h1 {
  margin: auto 20%;
  color: #fff
}

.form-container {
  margin-top: 5%;
  margin-left: 20%;
  width: 50%
}

.form-contact {
  width: 100%;
  font-family: "Arial",Times,serif
}

.form-contact-input,.form-contact-textarea {
  width: 100%;
  color: #292929;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  text-indent: 20px;
  border: 1px #aeaeae solid
}

.form-contact-textarea {
  height: 200px;
  padding-top: 16px;
  padding-left: 0;
  padding-right: 0;
  font-family: "Arial",Times,serif
}

.form-contact-button {
  width: 100%;
  font-size: 15px;
  border-radius: 4px;
  color: #fff;
  height: 40px;
  opacity: .8;
  margin-bottom: 20px;
  cursor: pointer;
  background: #fd2c2c;
  display: block;
  border: 0;
  transition: 1s
}

.form-contact-button:hover {
  opacity: 1
}

@media only screen and (max-width:600px) {
  .form-container {
      margin-top: 5%;
      margin-left: 15%;
      width: 70%
  }
}

.card-container {
  margin: 5% auto;
  max-width: 1280px;
  max-height: 720px;
  padding-left: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  transition: .3s;
  width: 70%;
  border-radius: 5px;
  margin: 5%
}

@media only screen and (max-width:600px) {
  .card-container {
      margin: 5% auto;
      max-width: 1280px;
      max-height: 720px;
      padding-left: 5%;
      display: grid;
      grid-template-columns: auto;
      flex-wrap: wrap;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2)
}

img {
  border-radius: 5px 5px 0 0
}

.container {
  padding: 2px 16px
}

.bazar-container {
  text-align: center;
  margin: 5% auto;
  max-width: 1280px;
  max-height: 720px;
  padding-left: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px
}

@media only screen and (max-width:600px) {
  .bazar-container {
      margin: 5% auto;
      max-width: 1280px;
      max-height: 720px;
      padding-left: 5%;
      display: grid;
      grid-template-columns: auto auto;
      flex-wrap: wrap;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px
  }
}

.bazar-fotos {
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  transition: .3s;
  width: 80%
}

.container-info-bazar {
  padding: 2px 16px
}

.btn {
  margin-bottom: 5%;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px
}

.success {
  border-color: #4caf50;
  color: green
}

.success:hover {
  background-color: #4caf50;
  color: #fff
}

.container-pagamento {
  border: 1px #7c7c7c solid;
  margin: 2% auto;
  max-width: 1280px;
  height: 720px
}

.pagamento-aviso {
  margin: 2% auto;
  padding: 5px 0 0 2%;
  height: 60px;
  max-width: 920px;
  background-color: #3dfd2c
}

.pagamento-aviso h3 {
  color: #fff
}

.pagamento-input {
  margin-top: 0;
  padding: 5% 15% 0 15%
}

.info-cartao {
  margin: 0 15% 0 15%;
  display: grid;
  grid-template-columns: auto auto auto
}

.info-checkbox {
  margin: 0 15% 0 15%
}

.button-pagamento button {
  background-color: #0ff;
  border: 0;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5% 0 0 40%
}

@media only screen and (max-width:600px) {
  .container-pagamento {
      width: auto
  }

  .pagamento-aviso {
      margin: 2%;
      padding: 2px 0 0 2%;
      height: 60px;
      width: auto;
      background-color: #3dfd2c
  }

  .pagamento-aviso h3 {
      font-size: 15px
  }

  .info-cartao {
      margin: 0 15% 0 15%;
      display: block
  }

  .button-pagamento button {
      background-color: #0ff;
      border: 0;
      color: #fff;
      padding: auto 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 5% 0 0 20%
  }
}

.container-post {
  justify-items: center;
  text-align: center;
  margin: 5% auto auto 0;
  max-width: 1280px;
  max-height: 720px;
  padding-left: 5%;
  display: grid;
  flex-wrap: wrap;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  position: relative
}

.comments {
  margin-left: 10%
}

.campo-mensagem textarea{
  border-radius: 10px;
  color: #2f939e;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2)
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:4px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

.post-feitos p {
  text-align: left;
  width: 640px;
  font-weight: 500;
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 2px solid #2f939e
}